header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

/* style.css */
.dropdown-menu {
  display: none;
  /* Initially hidden */
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.show {
  display: block;
  /* Show when the dropdown is visible */
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

body.light-mode .left-page {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode .left-page {
  background-color: #000000;
  color: #ffffff;
}