.sidebar-expanded {
    width: 100%;
    transition: width 0.3s ease;
}

.sidebar-collapsed {
    width: 60px;
    transition: width 0.3s ease;
}

@media (max-width: 768px) {
    .sidebar-expanded {
        display: none;
    }

    .sidebar-collapsed {
        display: none;
    }

    .popup-menu {
        display: block;
    }
}