.text-justify {
  text-align: justify;
}

.tech-icon {
  font-size: 24px;
}

/* .d-flex {
  display: flex !important;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .d-flex {
    display: flex !important;
    justify-content: space-around;
  }
} */